<html lang="en">
{% load static %}
{%load cart_template_tag %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Bethany Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="starter-page-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-end">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Shopkart</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="#contact">Contact</a></li>
            <li><a href="{% url 'index'%}" class="active">Home</a></li>
            <li><a href="{% url 'orderlist'%}" class="active">cart&nbsp;&nbsp; <div style="color:red;">{{request.user|cart_item_count}}</div></a></li>
  
            {% if user.is_superuser%}
            <li><a href="{% url 'add_product'%}" class="active">Add product</a></li>
            {% endif %}
  
            <li><a href="#hero" class="active">welcome {{user.username}}</a></li>
            <a class="btn-getstarted" href="{% url 'user_logout' %}">Logout</a>
  
           
            
            {% else%}
            <a class="btn-getstarted" href="{% url 'user_login' %}">Login</a>
            <a class="btn-getstarted" href="{% url 'user_register' %}">Register</a>
            {% endif %}
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- <a class="btn-getstarted" href="index.html#about">Get Started</a> -->

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Starter Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Starter Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section class="inner-page">
        <div class="container">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Price</th>
              </tr>
            </thead>
            <tbody>
              {% for order_item in order.items.all %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{ order_item.product.name }}</td>
                <td>Rs. {{ order_item.product.price }}</td>
                <td>
                  <a href="{% url 'add_item' order_item.product.pk %}">+</a> &nbsp;
                  {{ order_item.quantity }} &nbsp;
                  <a href="{% url 'remove_item' order_item.product.pk %}">-</i></a>
    
                </td>
                <td>Rs. {{ order_item.get_total_item_price}}</td>
              </tr>
              {% empty %}
              <tr class="row100 body">
                <td class="cell100 column1">Your Cart is Empty</td>
                <td colspan="cell100 column1">
                  <a href="{% url 'index' %}" class="btn btn-primary float-right">Continue Shopping</a>
                </td>
              </tr>
              {% endfor %}
    
            
              {% if order.get_total_price %}
              
              <tr class="row100 body" style="background-color:#191919;
                ">
                <td class="cell100 column1" style="color:white;"><b>Total Order Price</b></td>
                <td class="cell100 column2"></td>
                <td class="cell100 column3"></td>
                <td class="cell100 column4"></td>
                <td class="cell100 column5" style="color:white;"><i class="fas fa-rupee-sign"></i> Rs. {{order.get_total_price}}</td>
              </tr>
              <tr class="row100 body">
                <td class="cell100 column1">
                  <a href="{% url 'checkout_page' %}" class="btn btn-warning float-right ml-2">Checkout</a>
                  <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
                </td>
              </tr>
    
              {% endif %}
    
    
            </tbody>
          </table>
        </div>
      </section>
   
  </main>

  
  <!-- Scroll Top -->
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{%static 'vendor/aos/aos.js' %}"></script>
  <script src="{%static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{%static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{%static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{%static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{%static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>


</html>


